.arrow-main {
  position: absolute;
  margin-top: 8px;
  width: 100%;

}

.check-sp {
  background-color: #D6D6D6;
  width: 170px;
  margin-top: 10px;
}

.bgcolor{
  background-color:#2F56FF !important;
}

.modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }

.modal-body{
  padding: 0px 0px;
}

.people{
  width:33px;
  height: 15px;
  margin: 15px 10px 10px 5px;
}

.no-padding{
  padding: 0px 0px 0px 14px !important;
}

.modal-title{
  margin:13px 8px 0px 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.arrow{
  width: 5px;
  margin:17px 0px;
}

.margin{
  margin-top: 15px;
}

.button2{
    color: #D6D6D6;
  }

.checkColor{
  background-color: #2F56FF !important;
}

.no-left-padding {
    padding-left: 0px !important;
  }

label{
  font-size: 10px;
  font-weight: bold;
}

.select{
  font-size: 11px;
}

.check{
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.check:hover{
  background-color: #2F56FF;
}

.select_date{
  margin: 10px 0px 10px 10px;
}

html, body {
  height:100%;
}
body {
  font-size:100%;
  line-height:1.5;
}


img {
  max-width:100%;
  height:auto;
}

a {
  text-decoration:none;
}


.calendar-wrapper {
    width: 100%;
    border-radius: 5px;
    font-size: 70%;
    line-height: 0.5;
    position: relative;
}

.cal-box{
  box-shadow: 0px 0px 7px 0px #DCDCDC;
}

table {
  clear:both;
  width:100%;
  border-radius:3px;
  border-collapse:collapse;
}
td {
  height:26px;
  text-align:center;
  vertical-align:middle;
  width:100% / 7;
}
td.not-current {
  
}
td.normal {}
td.today {
  font-weight:700;
  font-size:1.5em;
}
thead td {
  border:none;
  text-transform:uppercase;
  font-size:11px;
  font-weight: bold;
}
tbody{
  font-size: 11px;
}
.days{
  color: #BEBEBE;
}
#btnPrev {
  float:left;
  margin-bottom:50px;
  margin-left: 30px;
}
#btnNext {
  float:right;
  margin-bottom:50px;
  margin-right: 30px;
  }
}
#btnPrev, #btnNext {
  background:transparent;
  border:none;
  outline:none;
  font-size:1em;
  cursor:pointer;
  text-transform:uppercase;
  transition:all 0.3s ease;
}



/*==========================*/

.purpose,.equipments{
  width: 13px;
  height: 15px;
}
.mini_header{
  margin: 10px 0px 10px 30px;
}
.searchBox{
  width: 80px;
}
.searchIcon{
  width: 10px;
  padding: -20px 0px 0px -20px;
}
.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
    padding: .25rem .5rem;
    font-size: 12px;
    line-height: 0.5;
    border-radius: .2rem;
    margin: 0px 25px 0px 12px;
    width: 170px;
}
.userImg{
  width: 30px;
  height: 30px;
}
.exampleCheck1{
  background-color: #D6D6D6;
  border-radius: 10px;
}
.check-14{
  margin-left: 10px
}
.name{
  font-size: 8.5px;
}
.position{
  font-size: 8px;
  color: #484848BE;
}
.user-group{
  padding-bottom: 8px;
}

.name-mar-bottom {
  margin-bottom: 0px;
}

#custom-search-input{
  margin-left: 10px;
  margin-bottom: 10px;
}


/*===========================*/

.body-color {
  background-color: #EBEFF8;
}

.card-shadow{
  padding : 0px 0px;
  align-items: center;
  margin: 40px 0px;
  width: 100%;
  box-shadow: 0px 33px 56px #0000000F;
  border-radius: 15px;
}
.button{
  font-family: 'Poppins', sans-serif;
  font-size: 11.5px;
}
.or{
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
}
.button1{
  padding: 5px;
  width: 100%;
  background: #2F56FF;
  box-shadow: 2px;
}
.button2-login{
  padding: 5px;
  width: 100%;
  box-shadow: 0px 5px 5px #A9A9A9;
  text-align: center;
}

.btn-login {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: ;
  font-size: ;
  line-height: 1.5;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: 0px 8px 18px #2F56FF43;
}


.form-login{
  line-height: 3.0;
  padding:0px 70px 20px 70px;
}

.img-login{ 
  width: 30%;
  height: 5vh;
  margin:20px 0px -30px 0px;
 }

 .img1{
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 13px 0px 0px 16px;
}
.imgGoogle{
  width:15px;
  height: 15px;
  align-items: left;
}
.meetingP{
  font-family: 'Poppins', sans-serif;
  margin: -10px 0px 30px 0px; 
  font-size: 11.5px;
}


.main{
  height: 100vh;
}

.user-01{
  color: #643BFF !important;
  background-color: #EBE6FE;
  border-radius: 20px;
}
.user-02{
  color: #FF36A5 !important;
  background-color: #FFD9EE;
  border-radius: 20px;
}
.user-03{
  color: #159F7F !important;
  background-color: #E0FAF4;
  border-radius: 20px;
}

.profile-01 {
  background-color: #643bff3b;
}

.profile-01 h4 {
  color: #643BFF;
}

.profile-01 p {
  color: #643BFF;
}

.profile-02 {
  background-color: #ff36a526;
}

.profile-02 h4 {
  color: #FF36A5;
}
.profile-02 p {
  color: #FF36A5;
}

.profile-03 {
  background-color: #159f7f2b;
}

.profile-03 h4 {
  color: #159F7F;
}
.profile-03 p {
  color: #159F7F;
}

.user-profile-section {
  margin-top: 45px;
}

.user-profile-box {
  height: 38px;
  width: 170px;
  border-radius: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.user-profile-details {
  margin-left: 10px;
}

.user-profile-details h4 {
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: -1px;
}

.user-profile-details p {
  font-size: 12px;
}

.no-right-padding {
  padding-right: 0px !important;
}

.img-circle {
  height: 38px;
}